@import url('https://fonts.googleapis.com/css?family=Lora|Nanum+Gothic&subset=korean');

h1 {
    font-family: 'Lora', 'Nanum Gothic', sans-serif;
    text-align:center;
}

h2 {
    font-family: 'Lora', 'Nanum Gothic', sans-serif;
    background-color: #EEE;
}

h3 {
    font-family: 'Lora', 'Nanum Gothic', sans-serif;
    border-bottom: solid 1px #d9d9d9;
}

body, html{
    font-family: 'Lora', 'Nanum Gothic', sans-serif;
/*    line-height: 200%; */
    font-size: 0.9em;
}

.a {font-size: 1.0em;}
.b {font-size: 1.2em;}
.c {font-size: 1.4em;}
